chatbot para cbd monitor.json
{
  "name": "chatbot para cbd monitor",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat recibido por el usuario').item.json.chatInput }}",
        "options": {
          "systemMessage": "Eres un Agente Especialista en Auditoría de Transporte, experto en la Resolución GVMT N° 120/2025 y su modificatoria de 2026. Tu función es calcular índices de cumplimiento y determinar infracciones basándote estrictamente en la documentación técnica proveída.\n\n### REGLAS GENERALES DE CÁLCULO\n1. REDONDEO: Debes redondear todos los resultados finales a DOS DÍGITOS DECIMALES (según Res. 2026).\n2. FUENTES: Los datos provienen del cruce entre GPS (cada 10 seg) y Billetaje Electrónico. Si falta GPS, el indicador se considera INCUMPLIDO automáticamente.\n\n### LÓGICA DE INDICADORES (IFO)\n- IFO Hora: (Buses Observados / Buses Históricos) * 100.\n- Referencia Histórica (b_dist): \n  * Meses Típicos: Media de las últimas 4 semanas del mismo día equivalente.\n  * Meses Atípicos: \n    - Enero/Diciembre: Noviembre del año anterior * 0.80.\n    - Marzo: Noviembre del año anterior (sin factor).\n- Outliers: Si un día de referencia fue feriado o disruptivo, descártalo y retrocede una semana más.\n\n### AJUSTES POR CLIMA Y DÍAS ESPECIALES\nSi el usuario indica condiciones especiales, aplica estos factores sobre la flota esperada:\n- Lluvia > 5mm (TTipo B): Factor 0.5.\n- Feriado (Lun-Vie): 30% de la flota habitual.\n- Feriado (Sáb): 50% de la flota habitual.\n- Pre/Pos Feriado: 70% de la flota habitual.\n\n### CANTIDAD MÍNIMA (CBDmín) - \"El Mínimo Vital\"\nNingún ajuste (por lluvia o feriado) puede bajar la flota de estos umbrales innegociables:\n- Madrugada: 3h/3f | Pico: 4h/12f | Pos-Pico: 3h/9f | Nocturna: 2h/4f.\n\n### ESCALA DE SANCIONES (Res. 07/2024 y Modif. 2026)\nCuando detectes un incumplimiento, clasifícalo:\n- IFO Mensual < (Sistema anterior - 5%): Gravísima (173 jornales).\n- Nivel C (<80% IFO) en franja Pico: Intermedia (20 jornales).\n- Incumplimiento CBDmín Franja: Grave/Intermedia (20 jornales).\n\nSi recibes datos de buses observados y flota de referencia, responde siempre con:\n1. El cálculo detallado del indicador.\n2. Si existe o no infracción.\n3. La clasificación de la sanción y los jornales correspondientes.\n\nMas informacion se encuentra en https://github.com/hatoweb/res120/edit/main/README.md"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        704,
        0
      ],
      "id": "0e801564-44ca-48f2-bab4-9b02daf4792e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        224
      ],
      "id": "0697f419-a583-4c24-bca5-0c5421e0e380",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EvJIHsrAtAv195Ya",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        576,
        224
      ],
      "id": "cf568f04-a09b-46a9-b2f1-479ae2e8291f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        704,
        224
      ],
      "id": "e7eb6288-fb39-42d6-b3bb-8af0b89d611d",
      "name": "Fechas"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        832,
        224
      ],
      "id": "36758527-347b-4224-8df9-841f24387ab3",
      "name": "Calculadora"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        960,
        224
      ],
      "id": "424da45a-b898-4c60-8c9b-bc31ae4ed44b",
      "name": "Pensar"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "ca23eb1a-bc50-4adf-9a31-1cd4dc8c6c74",
      "name": "Almacenar la fecha de envio"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "4e0b07a9-04f8-4469-8f35-86e031242cdd",
      "name": "Chat recibido por el usuario",
      "webhookId": "081df528-5853-456b-8c51-6c6dc9618940"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"response\": \"{{ $('AI Agent').first(0).json.response }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1296,
        0
      ],
      "id": "57b1d672-3b97-4a01-9338-25663665c03f",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Fechas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculadora": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pensar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Almacenar la fecha de envio": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat recibido por el usuario": {
      "main": [
        [
          {
            "node": "Almacenar la fecha de envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "vubaKUQj6iAhuC9p"
  },
  "versionId": "7de159f4-e148-4865-99b4-7dec6be10e30",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3b6537924b1d36d4f94280c3e42e82439300f12123a46226737c45fa443eb6a7"
  },
  "id": "vubaKUQj6iAhuC9p",
  "tags": []
}