n8n_workflow_calcular_ifo.json
{
  "name": "Calcular IFO - Resolución 120/2025",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.16.222.222:5001/api/ifo/calcular",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fecha",
              "value": "={{ $now.minus({days: 1}).toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "solo_calculo",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "http-request",
      "name": "Calcular IFO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.incumplimientos_detectados }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-incumplimientos",
      "name": "¿Hay incumplimientos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Preparar JSON con los resultados del cálculo IFO\nconst data = $input.item.json;\n\nreturn {\n  json: {\n    fecha_procesada: data.fecha_procesada,\n    tipo_dia: data.tipo_dia,\n    eots_procesados: data.eots_procesados,\n    registros_guardados: data.registros_guardados,\n    registros_actualizados: data.registros_actualizados,\n    total_registros: data.total_registros,\n    incumplimientos_detectados: data.incumplimientos_detectados,\n    resultados: data.resultados,\n    timestamp: new Date().toISOString(),\n    resumen: {\n      fecha: data.fecha_procesada,\n      tipo_dia: data.tipo_dia,\n      total_eots: data.eots_procesados,\n      total_registros: data.total_registros,\n      incumplimientos: data.incumplimientos_detectados,\n      estado: data.incumplimientos_detectados > 0 ? 'CON_INCUMPLIMIENTOS' : 'SIN_INCUMPLIMIENTOS'\n    }\n  }\n};"
      },
      "id": "prepare-json",
      "name": "Preparar JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "jsCode": "// Preparar JSON detallado con incumplimientos\nconst data = $input.item.json;\n\n// Extraer todos los incumplimientos de los resultados\nconst incumplimientos = [];\n\nif (data.resultados && Array.isArray(data.resultados)) {\n  data.resultados.forEach(resultado => {\n    if (resultado.detalle_incumplimientos && Array.isArray(resultado.detalle_incumplimientos)) {\n      resultado.detalle_incumplimientos.forEach(inc => {\n        incumplimientos.push({\n          fecha: resultado.fecha,\n          tipo_dia: resultado.tipo_dia,\n          eot_nombre: inc.eot_nombre,\n          eot_id: inc.eot_id,\n          franja: inc.franja,\n          ifo_observado: inc.ifo_observado,\n          ifo_minimo: inc.ifo_minimo,\n          diferencia: (inc.ifo_observado - inc.ifo_minimo).toFixed(2)\n        });\n      });\n    }\n  });\n}\n\nreturn {\n  json: {\n    fecha_procesada: data.fecha_procesada,\n    tipo_dia: data.tipo_dia,\n    eots_procesados: data.eots_procesados,\n    registros_guardados: data.registros_guardados,\n    registros_actualizados: data.registros_actualizados,\n    total_registros: data.total_registros,\n    incumplimientos_detectados: data.incumplimientos_detectados,\n    detalle_incumplimientos: incumplimientos,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "prepare-json-incumplimientos",
      "name": "Preparar JSON Incumplimientos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-result",
              "name": "resultado",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-result",
      "name": "Guardar Resultado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Calcular IFO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular IFO": {
      "main": [
        [
          {
            "node": "¿Hay incumplimientos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay incumplimientos?": {
      "main": [
        [
          {
            "node": "Preparar JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar JSON Incumplimientos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar JSON": {
      "main": [
        [
          {
            "node": "Guardar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar JSON Incumplimientos": {
      "main": [
        [
          {
            "node": "Guardar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-09T00:00:00.000Z",
  "versionId": "1"
}
